<div class="customer">
    <h3><%= customer.full_name %></h3>
    <p><%= image_tag customer.image %></p>
    <p><b>Province:</b> <%= customer.province %></p>
    <p><%= customer.phone_number%></p>
    <p><%= customer.email%></p> 
</div>